<div class="cover">
  <div class="cover-image"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1>Welcome</h1>
              <p>Do What You Love</p>
              <br>
              <br>
          </div>
      </div>
  </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag('courses/html.svg') %>
            </div>
            <div class="col-md-6 course-intro">
                <h1>How websites work?</h1>
                <h3>What are websites?</h3>
                <p>你所看到的網頁上面是由圖片、音樂、文字、影片等等元件組成，對電腦而言，他們都被寫成一種叫 HTML 的語言。對於一個人類而言，HTML 可能不好被直接理解，但是你的瀏覽器非常愛他們。瀏覽器透過 HTML 將網站的元件一一組成你所看到網頁，你可以把網頁看成是一塊又一塊的拼圖，HTML Code 會將他們拼湊起來。</p>
                <h3>Where are websites?</h3>
                <p>這些元件、HTML Code 需要被存放在一個地方，就像是你會把音樂、圖片放在你的電腦裡，網站的元件、HTML Code 會被放在遠端的 Server 裡，Server 其實就是一台強大的電腦，只是沒有鍵盤、滑鼠、螢幕，因為它存在就是為了存放網站元件、HTML Code 這個目的，所以他被叫做 Server，因為他 Serve Data。</p>
                <h3>How to website get to you?</h3>
                <p>當你在瀏覽器上鍵入網址，你的電腦會透過 Domain Name System (DNS) 去 (Online 的) 找尋這個網頁被存在哪。你可以把 Server 當成一個棟大樓，DNS 會告訴你的電腦哪一個網頁要去哪一台 Server 找，所以 DNS 其實就像是一本電話簿(聯絡簿)。當你的電腦找到網頁被存在哪後，Server 會把網站元件、HTML Code 傳給你的電腦，再由瀏覽器將他們組成你所看到的網頁。</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
              <div class="l-course">
                <div class="l-course-img thumbnail">
                  <img src="https://static.pirates.com.tw/prosimg/1/9/3/3/6/img.img.jpg" alt="Fake image" />
                </div>
                <div class="l-course-content">
                  <h2 class="l-course-status h4">How websites work?</h2>
                  <p>相信大家對於Audi A1 一定不陌生，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊</p>
                  <button><%= link_to "進入課程", how_websites_work_path %></button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
              <div class="l-course">
                <div class="l-course-img thumbnail">
                  <%= image_tag('courses/html.svg') %>
                </div>
                <div class="l-course-content">
                  <h2 class="l-course-status h4">What's HTML?</h2>
                  <p>相信大家對於Audi A1 一定不陌生，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊</p>
                  <button><%= link_to "進入課程", what_is_html_path %></button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
              <div class="l-course">
                <div class="l-course-img thumbnail">
                  <%= image_tag('courses/css.svg') %>
                </div>
                <div class="l-course-content">
                  <h2 class="l-course-status h4">What's CSS?</h2>
                  <p>相信大家對於Audi A1 一定不陌生，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊，甚至很多船長跟伙伴家裡都有一輛 這台真的是小巧好開，又漂亮的好車啊</p>
                  <button><%=link_to "進入課程", what_is_css_path%></button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
