<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FlashFinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/earlyaccess/cwtexhei.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ubuntu', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=320" />
  <style>
    .wrap {
      min-height:100vh;
    }
    .cover{
      min-height: 100vh;
    }
    html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Ubuntu', 'cwTeXHei', sans-serif;
    }
    html,
    body {
      font-family: 'Ubuntu', 'cwTeXHei', sans-serif;
      background-color: #FFFFFF;
      margin:0;
    }
    .wrap {
      background-image: url('<%= asset_path("background.png") %>');
    }
    .cover {
      background-image: url('<%= asset_path("mask.png") %>');
      background-color: rgba(255, 249, 196, 0.3);
    }
    .cover-image {
      background-image: url('<%= asset_path("members/slides/cycu1.jpg") %>');
      color: #03A9F4;
    }
    #howwebsiteswork_hype_container [class*="span"] {
      float: none;
      margin-left: auto;
    }
    #howwebsiteswork_hype_container [class*="HYPE_element"] {
      box-sizing: content-box;
    }
    div.HYPE_element {
      box-sizing: content-box;
    }
    .navbar-default, footer {
      background-color: #2280D1;
      color: #fff;
      border: none;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav > li > a {
      color: #fff;
    }
    i.fa:hover,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-nav > li > a:hover {
      color: #E3F2FD;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
      background-color: #1976D2;
      color: #E3F2FD;
    }
    .navbar-default .navbar-toggle {
      background-color: #fff;
      border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #2280D1;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #E3F2FD;
    }
    @media (max-width: 767px){
      .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
      }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #E3F2FD;
      }
    }
  </style>
</head>
<body>
  <h1 class="sr-only">CYCU Flash Final Project</h1>
  <%= render partial: 'common/navbar' %>
  <div class="wrap">
    <%= yield %>
  </div>
  <%= render partial: 'common/footer' %>
</body>
</html>
