<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Only For You</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/earlyaccess/cwtexhei.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ubuntu', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=320" />
  <style>
    .wrap {
      min-height:100vh;
    }
    .cover{
      min-height: 100vh;
    }
    html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Ubuntu', 'cwTeXHei', sans-serif;
    }
    html,
    body {
      font-family: 'Ubuntu', 'cwTeXHei', sans-serif;
      background-color: #FFFFFF;
      margin:0;
    }
    .wrap {
      background-image: url('<%= asset_path("background.png") %>');
    }
    .cover {
      background-image: url('<%= asset_path("mask.png") %>');
      background-color: rgba(255, 249, 196, 0.3);
    }
    .cover-image {
      background-image: url('<%= asset_path("members/slides/cycu1.jpg") %>');
      color: #03A9F4;
      background-position: center 0;
      background-size: cover;
    }
    #howwebsiteswork_hype_container [class*="span"] {
      float: none;
      margin-left: auto;
    }
    #howwebsiteswork_hype_container [class*="HYPE_element"] {
      box-sizing: content-box;
    }
    div.HYPE_element {
      box-sizing: content-box;
    }
    .navbar {
      border-radius: 0;
    }
    .navbar-default, footer {
      background-color: #2280D1;
      color: #fff;
      border: none;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav > li > a {
      color: #fff;
    }
    i.fa:hover,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-nav > li > a:hover {
      color: #E3F2FD;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
      background-color: #1976D2;
      color: #E3F2FD;
    }
    .navbar-default .navbar-toggle {
      background-color: #fff;
      border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #2280D1;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #E3F2FD;
    }
    @media (max-width: 767px){
      .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
      }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #E3F2FD;
      }
      .navbar {
        border-radius: 0;
      }
    }
    a:focus {
      outline: none;
    }

    /* Grid */
    .grid__item {
      height: calc(100vh - 40px);
      min-height: 460px;
      max-width: calc(100vw - 40px);
      margin: 20px;
      padding: 40vh 0;
      z-index: 1;
      position: relative;
      text-align: center;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -o-align-items: center;
      -ms-flex-pack: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
    }

    @media screen and (max-width: 50em) {
      .grid__item {
        width: 100%;
      }
    }

    /* General link styles */
    .link {
      outline: none;
      position: relative;
      font-size: 8em;
      line-height: 1;
      color: #fff;
      display: inline-block;
    }

    /* Takiri */
    .link--takiri {
      font-style: italic;
      text-decoration: none;
      font-weight: 700;
      font-size: 7em;
      padding: 0 10px 20px;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
    }

    .link--takiri:hover {
      color: #212121;
      text-decoration: none;
    }

    .link--takiri:focus {
      color: #1e1a1b;
      text-decoration: none;
    }

    .link--takiri::before {
      content: '';
      position: absolute;
      height: 36px;
      width: 120%;
      top: 50%;
      margin-top: -18px;
      left: -10%;
      z-index: -1;
      background: #F9F9F9;
      -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
      -moz-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
      -ms-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
      -o-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
      transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -ms-transition: -ms-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      transition: transform 0.5s;
    }

    .link--takiri:hover::before {
      -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
      -moz-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
      -ms-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
      -o-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
      transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    }

    .link--takiri span {
      font-size: 20%;
      font-weight: 400;
      position: absolute;
      right: 15px;
      color: #e53369;
      bottom: 0;
      opacity: 0;
      -webkit-transform: translate3d(-10px,-10px,0);
      -moz-transform: translate3d(-10px,-10px,0);
      -ms-transform: translate3d(-10px,-10px,0);
      -o-transform: translate3d(-10px,-10px,0);
      transform: translate3d(-10px,-10px,0);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      -moz-transition: -moz-transform 0.5s, opacity 0.5s;
      -ms-transition: -ms-transform 0.5s, opacity 0.5s;
      -o-transition: -o-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }

    .link--takiri:hover span {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    @media screen and (max-width: 42em) {
      .link--takiri {
        font-size: 3.5em;
      }
    }
  </style>

</head>
<body>
  <h1 class="sr-only">CYCU Flash Final Project</h1>
  <%= render partial: 'common/navbar' %>
  <div class="wrap">
    <%= yield %>
  </div>
  <%= render partial: 'common/footer' %>
</body>
</html>
