<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="fullcarousel-example" data-interval="5000" class="carousel slide"
                data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <%= image_tag('members/slides/cycu1.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                        <div class="item">
                          <%= image_tag('members/slides/cycu2.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                        <div class="item active">
                          <%= image_tag('members/slides/cycu3.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<article>
    <h1 class="sr-only">Member</h1>
    <div class="container text-center">
        <div class="member col-md-3 col-sm-6">
            <div class="box2">
                <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                <div><%= image_tag("members/Pacy Wu.jpg") %></div>
            </div>
            <h2>吳佩心</h2>
            <h3>資管二乙</h3>
            <h3>10044247</h3>
        </div>
        <div class="member col-md-3 col-sm-6">
            <div class="box2">
                <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                <div><%= image_tag("members/Yusheng Li.jpg") %></div>
            </div>
            <h2>李昱陞</h2>
            <h3>資管二乙</h3>
            <h3>10244210</h3>
        </div>
        <div class="member col-md-3 col-sm-6">
            <div class="box2">
                <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
            </div>
            <h2>張碧涵</h2>
            <h3>資管二乙</h3>
            <h3>10244213</h3>
        </div>
        <div class="member col-md-3 col-sm-6">
            <div class="box2">
                <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
            </div>
            <h2>傅大哲</h2>
            <h3>資管四甲</h3>
            <h3>10044161</h3>
        </div>
    </div>
</article>
