<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="fullcarousel-example" data-interval="5000" class="carousel slide"
                data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <%= image_tag('members/slides/cycu1.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                        <div class="item">
                          <%= image_tag('members/slides/cycu2.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                        <div class="item active">
                          <%= image_tag('members/slides/cycu3.JPG', class: 'img-responsive') %>
                            <div class="carousel-caption">
                                <h2></h2>
                                <p>cycu</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <p></p>
    <p></p>
</div>
<div class="section">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-2">
                <%= image_tag("members/Yusheng Li.jpg", class: 'img-circle img-responsive') %>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">李昱陞</h3>
                <p class="text-left">資管二乙
                    <br>10244210</p>
            </div>
            <div class="col-md-2">
                <%= image_tag("members/Bihan Zhang.jpg", class: 'img-circle img-responsive') %>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">張碧涵</h3>
                <p class="text-left">資管二乙
                    <br>10244213</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <%= image_tag("members/Pacy Wu.jpg", class: 'img-circle img-responsive') %>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">吳佩心</h3>
                <p class="text-left">資管二乙
                    <br>10244247</p>
            </div>
            <div class="col-md-2">
              <%= image_tag("http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png", class: 'img-circle img-responsive') %>
            </div>
            <div class="col-md-4 text-center">
                <h3 class="text-left">傅大哲</h3>
                <p class="text-left">查無此人</p>
            </div>
        </div>
    </div>
</div>
