<section>
    <h1 class="sr-only">About us</h1>
    <article>
        <h1 class="sr-only">Site</h1>
        <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 50vh;">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1808.6310294473788!2d121.240822462635!3d24.957197117156582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346822158d586b53%3A0xdbb718e116b7cc75!2z5Lit5Y6f5aSn5a245q2j6ZaA!5e0!3m2!1szh-TW!2stw!4v1434784596159" frameborder="0" style="border:0; pointer-events:none;"></iframe>
        </div>
    </article>
    <article>
        <h1 class="sr-only">Member</h1>
        <div class="container text-center">
            <div class="member col-md-3 col-sm-6">
                <div class="box2">
                    <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                    <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                    <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                    <div><%= image_tag("members/Pacy Wu.jpg") %></div>
                </div>
                <h3>吳佩心 <small>Pacy Wu</small></h3>
                <h3>
                    <a href="mailto:c0976728957@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.facebook.com/wu.p.xin.9"><i class="fa fa-facebook-official"></i></a>
                </h3>
                <h4>網頁雛形設計</h4>
                <h4>頁面規劃</h4>
                <h4>影片支援</h4>
            </div>
            <div class="member col-md-3 col-sm-6">
                <div class="box2">
                    <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                    <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                    <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                    <div><%= image_tag("members/Yusheng Li.jpg") %></div>
                </div>
                <h3>李昱陞 <small>Yusheng Li</small></h3>
                <h3>
                    <a href="mailto:tamamali@icloud.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.facebook.com/bbgba1923?fref=nf"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://github.com/HardisonSY"><i class="fa fa-github-square"></i></a>
                </h3>
                <h4>前端程式支援</h4>
                <h4>腳本支援</h4>
                <h4>網站部署</h4>
                <h4>影片協作</h4>
            </div>
            <div class="member col-md-3 col-sm-6">
                <div class="box2">
                    <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                    <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                    <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                    <div><%= image_tag("members/Bihan Zhang.jpg") %></div>
                </div>
                <h3>張碧涵 <small>Bihan Zhang</small></h3>
                <h3>
                    <a href="mailto:love2082020@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.facebook.com/mitourk"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://github.com/mitour"><i class="fa fa-github-square"></i></a>
                </h3>
                <h4>影片製作</h4>
                <h4>前端程式撰寫</h4>
                <h4>腳本設計</h4>
                <h4>網頁視覺設計</h4>
            </div>
            <div class="member col-md-3 col-sm-6">
                <div class="box2">
                    <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                    <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                    <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                    <div><%= image_tag("members/Dajhe Fu.jpg") %></div>
                </div>
                <h3>傅大哲 <small>Dajhe Fu</small></h3>
                <h3>
                    <a href="mailto:s10044161@cycu.edu.tw"><i class="fa fa-envelope-o"></i></a>
                    <a href="https://www.facebook.com/da.pao.71?fref=ts"><i class="fa fa-facebook-official"></i></a>
                </h3>
                <h4>測驗題目提供</h4>
                <h4>影片支援</h4>
            </div>
        </div>
    </article>
    <article style="padding-bottom: 10%;">
        <form class="cd-form floating-labels">
            <legend>Contact Us</legend>

            <div class="icon">
                <label class="cd-label" for="cd-name">Name</label>
                <input class="user" type="text" name="cd-name" id="cd-name" required>
            </div> 

            <div class="icon">
                <label class="cd-label" for="cd-email">Your Email</label>
                <input class="email" type="email" name="cd-email" id="cd-email" required>
            </div>
            <div class="icon">
                <label class="cd-label" for="cd-textarea">Message</label>
                <textarea class="message" name="cd-textarea" id="cd-textarea" required></textarea>
            </div>

            <div>
                <input type="submit" value="Send Message">
            </div>
        </form>
    </article>
</section>
<%= javascript_include_tag 'timeline/modernizr.js' %>
<%= javascript_include_tag 'members/main.js' %>